<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <div class="container">
        <header>
            <h6>The Page Counter App</h6>
        </header>
        @RenderBody()
    </div>
</body>
</html>