@model SimpleInt

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h6 class="display-4">Welcome to the Home Page</h6>
    <p>
        Hello!!
    </p>
    <p asp-controller="Home" asp-action="Index">the number of visits to the page count is @Model.count.ToString() </p>
</div>
