@model int

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h6 class="display-4">Welcome to the Home Page</h6>
    <p>
        Hello!!
    </p>
    <!--display the current count of page visits-->
    <p asp-controller="Home" asp-action="Index">the number of visits to the page count is @Model </p>
    <!--link to the other page-->
    <p>Check out our <a asp-controller="other" asp-action="Index">other page</a>!</p>
</div>
